.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
}

.menu-button {
  background: #666;
  color: white;
  height: 100vh;
  writing-mode: vertical-lr;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.4s ease;

}



.sub-menu {
  position: absolute;
  top: 0;
  left: -200px;
  width: 200px;
  height: 100%;
  background: #777;
  padding-top: 50px;
  transition: left 0.4s ease;

}

.menu-container:hover .sub-menu {
  left: 0;
}

.sub-menu ul {
  list-style: none;
  padding: 0;
}

.sub-menu li {
  padding: 10px 20px;
  color: white;
}

.sub-menu li::before {
  content: "◆";
  color: orange;
  margin-right: 10px;
}

.sub-menu li:hover {
  color: orange;
}
